.default-color0.chart-series-line {
	-fx-stroke: #c0c0ff;
	-fx-stroke-type: centered;
	-fx-stroke-width: 1px;
	-fx-symbol-visible: false;
}

.chart-symbol { /* solid circle */
    -fx-background-color: #f9d900;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-symbol-visible: false;
}

.default-color0.chart-symbol {
    -fx-background-radius: 30px;
}

.chart-vertical-zero-line {
    -fx-stroke: white;
}
.chart-horizontal-zero-line {
    -fx-stroke: white;
}
.chart-plot-background {
    -fx-background-color: #575758;
    -fx-foreground-color: white;
    -fx-stroke: white;
} 
.chart-vertical-grid-lines {
    -fx-stroke: #00000000;
}
